<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- Font Aweesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

  <!-- Local CSS -->
  <link rel="stylesheet" href="../assets/css/kajian.css">
  <title>Kajian</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light .bg-transparent">
      <div class="container">
        <a class="navbar-brand logo" href="#">Qira'a</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item ms-3 me-5 mt-2">
              <a class="nav-link" aria-current="page" href="#">Beranda</a>
            </li>
            <li class="nav-item ms-3 me-5 mt-2">
              <a class="nav-link active" aria-current="page" href="kajian.html">Kajian</a>
            </li>
            <li class="nav-item ms-3 me-5 mt-2">
              <a class="nav-link" aria-current="page" href="#">Qur'an</a>
            </li>
            <li class="nav-item ms-3 me-5 mt-2 ">
              <a class="nav-link" aria-current="page" href="KisahIslam.html">Kisah Islam</a>
            </li>
            <li class="nav-item ms-3">
              <a class="green-btn" aria-current="page" href="login.html">
                <button type="button" class="btn btn-success">Masuk</button>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/img/bg-kajian.svg" class="d-block w-100" alt="...">
          <div class="carousel-caption">
            <h1 class="title-carousel">Qira'a <span class="live">Live</span></h1>
            <p class="desc-carousel">Dapatkan wawasan dan ilmu <br>
              melalui kajian online di Qira’a</p>
            <a href=""><button class="btn btn-warning">Lihat Daftar Kajian</button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="kajian container">
      <div class="next-kajian">
        <div class="header-next-kajian">
          <h1 class="title-next-kajian">KAJIAN <span class="green">SELANJUTNYA</span></h1>
          <hr class="title-line">
          <p class="text-center">Segera daftar di kajian terbaru dan dapatkan ilmu yang bermanfaat</p>
        </div>
        <div class="d-flex justify-content-evenly mt-5">
          <div class="card" style="width: 22rem;">
            <img src="/assets/img/khalidbasalamah.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Aqidah, Tauhid, dan Manhaj</h5>
              <div class="card-text">
                <p><i class="fa fa-calendar green"></i> Sabtu, 24 Oktober 2021 </p>
                <p><i class="fa fa-clock green"></i> 20.00 WIB</p>
                <p><i class="fa fa-map-marker-alt green"></i> Live di Qira'a Website </p>
                <p><i class="fa fa-user green"></i> Ustaz Khalid Basalamah</p>
                <p><i class="fa fa-ticket-alt green"></i> Free</p>
              </div>
            </div>
          </div>
          <div class="card" style="width: 22rem;">
            <img src="/assets/img/adihidayat.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Antara Sholat dan Pertolongan Allah SWT</h5>
              <div class="card-text">
                <p><i class="fa fa-calendar green"></i> Selasa, 26 Oktober 2021 </p>
                <p><i class="fa fa-clock green"></i> 20.00 WIB</p>
                <p><i class="fa fa-map-marker-alt green"></i> Live di Qira'a Website </p>
                <p><i class="fa fa-user green"></i> Ustaz Adi Hidayat</p>
                <p><i class="fa fa-ticket-alt green"></i> Free</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="next-kajian mt-5 pt-3">
        <div class="header-next-kajian">
          <h1 class="title-next-kajian">KAJIAN <span class="green">SEBELUMNYA</span></h1>
          <hr class="title-line">
          <p class="text-center">Belum sempat mengikuti acara dari Qira’a sebelumnya? Tenang saja, kalian
            masih bisa
            menontonnya melalui Youtube channel
            Qira’a! Jangan lupa subscribe ya!</p>
        </div>
        <div class="d-flex justify-content-evenly mt-5">
          <div class="card" style="width: 22rem;">
            <img src="/assets/img/abdulsomad.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hidup Adalah Ibadah, Hati Tenang Stress Hilang</h5>
              <div class="card-text">
                <p><i class="fa fa-calendar green"></i> Selasa, 13 Juli 2021 </p>
                <p><i class="fa fa-clock green"></i> 20.00 WIB</p>
                <p><i class="fa fa-map-marker-alt green"></i> Live di Qira'a Website </p>
                <p><i class="fa fa-user green"></i> Ustaz Abdul Somad</p>
                <p><i class="fa fa-ticket-alt green"></i> Free</p>
              </div>
            </div>
          </div>
          <div class="card" style="width: 22rem;">
            <img src="/assets/img/aagym.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sabar Menghadapi Musibah</h5>
              <div class="card-text">
                <p><i class="fa fa-calendar green"></i> Sabtu, 10 Juli 2021 </p>
                <p><i class="fa fa-clock green"></i> 20.00 WIB</p>
                <p><i class="fa fa-map-marker-alt green"></i> Live di Qira'a Website </p>
                <p><i class="fa fa-user green"></i> AA Gym</p>
                <p><i class="fa fa-ticket-alt green"></i> Free</p>
              </div>
            </div>
          </div>
          <div class="card" style="width: 22rem;">
            <img src="/assets/img/gusmiftah.png" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Obat Gundah dan Gelisah</h5>
              <div class="card-text">
                <p><i class="fa fa-calendar green"></i> Kamis, 8 Juli 2021 </p>
                <p><i class="fa fa-clock green"></i> 20.00 WIB</p>
                <p><i class="fa fa-map-marker-alt green"></i> Live di Qira'a Website </p>
                <p><i class="fa fa-user green"></i> Gus Miftah</p>
                <p><i class="fa fa-ticket-alt green"></i> Free</p>
              </div>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-success d-grid gap-2 col-6r mx-auto mt-4 rounded-pill">Lihat Lebih
          Banyak</button>
      </div>
    </div>

  </main>

  <footer class="text-center text-lg-start text-muted pt-3 mt-5">
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 content-footer">
            <h4 class="text-uppercase mb-3 fw-bold light-green">
              Qira'a
            </h4>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
              aliqua. Et malesuada fames ac turpis.
            </p>
            <div class="icon-footer">
              <a href="" class="me-4"><i class="fab fa-instagram"></i></a>
              <a href="" class="me-4"><i class="fab fa-youtube"></i></a>
              <a href="" class="me-4"><i class="fab fa-facebook-square"></i></a>
              <a href="" class="me-4"><i class="fab fa-twitter-square"></i></a>
            </div>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 content-footer">
            <h6 class="text-uppercase fw-bold">
              Tentang Kami
            </h6>
            <hr class="line-title-footer">
            <p>
              <a href="#!" class="text-reset">About Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Kebijakan Privasi</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Faq</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 content-footer">
            <h6 class="text-uppercase fw-bold">
              Hubungi Kami
            </h6>
            <hr class="line-title-footer">
            <p><i class="fas fa-map-marker-alt me-3 mb-0"></i> Jl. Rambutan Lurus No.14, Kedondong, Kec. Buah Sehat,
              Kota
              Surabaya,
              Jawa Timur</p>
            <p>
              <i class="fas fa-phone-alt me-3"></i>
              (+62) 812-3456-7890
            </p>
            <p><i class="fas fa-envelope me-3"></i>admin@qiraa.com</p>
          </div>
        </div>
      </div>
    </section>


    <!-- Copyright -->
    <div class="text-center p-4 content-footer">
      Copyright ©2021
      <a class="light-green" href="">PT Qira'a Nusantara</a>
    </div>
    <!-- Copyright -->
  </footer>

  <!-- login js -->
  <script src="../assets/js/login.js"></script>
  <!-- bootstrap js -->
  <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>