<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- Font Aweesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
  integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

  <!-- Local CSS -->
  <link rel="stylesheet" href="../assets/css/KisahIslam.css">
  <title>Login</title>
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light .bg-transparent">
        <div class="container">
          <a class="navbar-brand logo" href="#">Qira'a</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item ms-3 me-5 mt-2">
                <a class="nav-link" aria-current="page" href="#">Beranda</a>
              </li>
              <li class="nav-item ms-3 me-5 mt-2">
                <a class="nav-link " aria-current="page" href="#">Kajian</a>
              </li>
              <li class="nav-item ms-3 me-5 mt-2">
                <a class="nav-link" aria-current="page" href="#">Qur'an</a>
              </li>
              <li class="nav-item ms-3 me-5 mt-2 ">
                <a class="nav-link active" aria-current="page" href="#">Kisah Islam</a>
              </li>
              <li class="nav-item ms-3">
                <button type="button" class="btn btn-success">
                  <a class="green-btn" aria-current="page" href="#">Masuk</a>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <!-- Jumbotron -->
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active carousel-active">
            <img src="../assets/img/Kisah-Kisah.png" class="d-block w-100" alt="...">
            <div class=" carousel-caption ">
              <h1 class="display-1">Kisah-Kisah <br> Islam</h1>
            </div>
          </div>
        </div>
      </div>
      <!-- search & order -->
      <div class="container">
        <div class="card mt-4 p-3">
          <div class="container">
            <form>
              <div class="form-group">
                <label>Search</label>
                <div class="input-group mb-3">
                  <input type="text" class="form-control">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
                <div class="form-group">
                  <label>Ordet By</label>
                  <div class="radio-btn">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="A-Z">
                      <label class="form-check-label" for="inlineRadio1">A-Z</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Z-A">
                      <label class="form-check-label" for="inlineRadio2">Z-A</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="LatestUpdate">
                      <label class="form-check-label" for="inlineRadio2">Latest Update</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="LatestRead">
                      <label class="form-check-label" for="inlineRadio2">Latest Read</label>
                    </div>
                  </div> 
                </div>
                <div class="form-group">
                  <label>Kisah</label>
                  <div class="radio-btn">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="All">
                      <label class="form-check-label" for="inlineRadio1">All</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Nabi&Rosul">
                      <label class="form-check-label" for="inlineRadio2">Nabi & Rosul</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Khalifah">
                      <label class="form-check-label" for="inlineRadio2">Khalifah</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SahabatNabi">
                      <label class="form-check-label" for="inlineRadio2">Sahabat Nabi</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="SejarahIslam">
                      <label class="form-check-label" for="inlineRadio2">Sejarah Islam</label>
                    </div>
                  </div> 
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Kisah Kisah -->
      <div class="container">
        <div class="card mt-4">
          <button>
            <div class="row">
              <div class="col-3">
                <img src="../assets/img/isra miraj.jpg" alt="">
              </div>
              <div class="col-9 deskripsi">
                <h2 class="display-2">Nabi Muhammad : Isra Miraj</h2>
                <h2 class="display-3">Kisah Nabi & Rosul</h3>
              </div>
            </div>
          </button>
        </div>
        <div class="card mt-4">
          <button>
            <div class="row">
              <div class="col-3">
                <img src="../assets/img/Nabi Palsu.jpg" alt="">
              </div>
              <div class="col-9 deskripsi">
                <h2 class="display-2">Abu Bakar Al Shidiq : Perang Melawan Nabi Palsu</h2>
                <h2 class="display-3">Kisah Khalifah</h3>
              </div>
            </div>
          </button>
        </div>
        <div class="card mt-4">
          <button>
          <div class="row">
            <div class="col-3">
              <img src="../assets/img/Konstantionpel.jpg" alt="">
            </div>
            <div class="col-9 deskripsi">
              <h2 class="display-2">Penaklukan Konstantinopel</h2>
              <h2 class="display-3">Sejarah Islam</h3>
            </div>
          </div>
          </button>
        </div>
        <div class="card mt-4">
          <button>
          <div class="row">
            <div class="col-3">
              <img src="../assets/img/AinJalut.jpg" alt="">
            </div>
            <div class="col-9 deskripsi">
              <h2 class="display-2">Perang Ain Jalut</h2>
              <h2 class="display-3">Sejarah Islam</h3>
            </div>
          </div>
          </button>
        </div>
        <div class="card mt-4">
          <button>
          <div class="row">
            <div class="col-3">
              <img src="../assets/img/pedang.jpg" alt="">
            </div>
            <div class="col-9 deskripsi">
              <h2 class="display-2">Khalid Bin Walid : Si Pedang Allah</h2>
              <h2 class="display-3">Sahabat Nabi</h3>
            </div>
          </div>
          </button>
        </div>
        <div class="card mt-4">
          <button>
          <div class="row">
            <div class="col-3">
              <img src="../assets/img/dinasti.jpg" alt="">
            </div>
            <div class="col-9 deskripsi">
              <h2 class="display-2">Dinasti Abbasiyah</h2>
              <h2 class="display-3">Sejarah Islam</h3>
            </div>
          </div>
          </button>
        </div>
      </div>
    </main>
  <!-- login js -->
  <script src="../assets/js/login.js"></script>
  <!-- bootstrap js -->
  <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>