<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- Font Aweesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">

  <!-- Local CSS -->
  <link rel="stylesheet" href="../assets/css/header.css">
  <link rel="stylesheet" href="../assets/css/footer.css">
  <link rel="stylesheet" href="../assets/css/registrasiPengajian.css">
  <title>Registrasi Pengajian</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light .bg-transparent">
      <div class="container">
        <a class="navbar-brand logo" href="#">Qira'a</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item ms-3 me-5 mt-2">
              <a class="nav-link" aria-current="page" href="../index.html">Beranda</a>
            </li>
            <li class="nav-item ms-3 me-5 mt-2">
              <a class="nav-link active active-nav" aria-current="page" href="kajian.html">Kajian</a>
            </li>
            <li class="nav-item ms-3 me-5 mt-2">
              <a class="nav-link" aria-current="page" href="quran.html">Qur'an</a>
            </li>
            <li class="nav-item ms-3 me-5 mt-2 ">
              <a class="nav-link" aria-current="page" href="kisahIslam.html">Kisah Islam</a>
            </li>
            <li class="nav-item ms-3">
              <button type="button" class="btn btn-success">
                <a class="green-btn" aria-current="page" href="login.html">Masuk</a>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <div class="container">
      <div class="card">
        <img src="../assets/img/aqidahtauhidmanhaj1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h1 class="title my-0 mb-3 my-lg-3 mb-lg-3">Aqidah, Tauhid, dan Manhaj</h1>
            <button class="gratis-btn my-auto" disabled>Gratis</button>
          </div>
          <div class="row">
            <div class="col-6">
              <h2 class="title-desk">Pembicara</h2>
              <div class="row">
                <div class="col">
                  <img src="../assets/img/profile-ustd.png" class="d-block w-100" alt="">
                </div>
                <div class="col my-auto">
                  <h3 class="desk ">Ustaz<br>Khalid Basalamah</h3>
                </div>
              </div>
            </div>
            <div class="col-3">
              <h2 class="title-desk">Tanggal</h2>
              <h3 class="desk">30 Juli 2021</h3>
            </div>
            <div class="col-3">
              <h2 class="title-desk">Waktu</h2>
              <h3 class="desk">12:30 - 14:30 WIB</h3>
            </div>
          </div>
        </div>
      </div>


      <div class="container mt-4 mb-5">
        <div class="deskripsi">
          <h2 class="deskripsi-title text-center">Deskripsi</h2>
          <hr>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate, libero quis facilisis tincidunt,
            ligula tortor cursus nibh, sed imperdiet erat lacus ut purus. Suspendisse id dolor id urna pulvinar
            tincidunt.
            Phasellus auctor ipsum massa, non molestie lorem dignissim eu. Ut rutrum, turpis vitae eleifend eleifend,
            nibh
            metus cursus est, a tincidunt velit leo ut purus. Pellentesque non augue a ante sollicitudin ornare. Sed sed
            turpis quis ex consequat bibendum. Nulla facilisi. Vivamus urna elit, aliquet vitae aliquet non, maximus sit
            amet nibh. Vivamus ornare ornare libero ac maximus. Suspendisse mollis malesuada sem, a volutpat tellus
            laoreet eget. Fusce maximus pharetra nulla, eget mattis orci efficitur a. Proin euismod mi ante, nec
            sollicitudin sapien tristique at. Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>

            In id metus ornare, condimentum urna eu, mattis purus. Nam semper rutrum nunc, sed gravida ante tincidunt
            maximus. In tempor volutpat dolor, non vulputate est feugiat a. Proin cursus nisl a venenatis vulputate.
            Vivamus id ullamcorper turpis, porta commodo arcu. Integer commodo condimentum mi, sed pulvinar nibh
            pellentesque non. Ut quis mauris consectetur, consectetur felis et, pharetra dolor. Pellentesque non sapien
            hendrerit, rutrum ex non, accumsan arcu. Curabitur felis lacus, viverra sit amet accumsan ut, sodales nec
            sem.
            Sed a dictum risus. Vivamus at urna lacus.
          </p>
        </div>
        <div class="Share text-center text-md-start">
          <h4 class="deskripsi-title">Bagikan ke teman</h4>
          <div class="d-flex justify-content-center justify-content-md-start">
            <button class="share-icon ms-0">
              <i class="fab fa-instagram fa-2x"></i>
            </button>
            <button class="share-icon">
              <i class="fab fa-facebook-f fa-2x "></i>
            </button>
            <button class="share-icon">
              <i class="fab fa-whatsapp fa-2x"></i>
            </button>
            <button class="share-icon">
              <i class="fab fa-line fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="daftar w-100">
      <div class="container p-3">
        <div class="d-flex justify-content-between">
          <img src="../assets/img/icon/booking 1.png" alt="">
          <h3 class="daftar-desk text-start m-0">Aqidah, Tauhid, dan Manhaj</h3>
          <button class="btn btn-desk text-center" type="button">Ikut Kajian</button>
        </div>
      </div>
    </div>

  </main>

  <!-- bootstrap js -->
  <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>