<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">

  <!-- Font Aweesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Bootstrap -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <!-- Local CSS -->
  <link rel="stylesheet" href="../assets/css/header.css">
  <link rel="stylesheet" href="../assets/css/footer.css">
  <link rel="stylesheet" href="../assets/css/stream.css">
  <title>Stream Live</title>
</head>

<body>
  <main>
    <!-- Stream -->
    <div class="d-flex flex-wrap">
      <div class="col-lg-9 col-sm-12 meet-display px-0">
        <img src="../assets/img/ustd-meet 2.png" class="w-100">
        <div class="icon d-flex align-items-center">
          <div>
            <button class="icon-meet infaq-icon" data-bs-toggle="modal" data-bs-target="#qrcode">
              INFAQ
            </button>
          </div>
          <div class="mx-auto">
            <button class="icon-meet chat-icon">
              <i class="bi bi-chat-text-fill fa-2x"></i>
            </button>
            <button class="icon-meet exit">
              <i class="bi bi-box-arrow-right fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
      <!-- End Stream -->
      <!-- Chat -->
      <div class="col-lg-3 col-sm-12 chat-display">
        <div class="d-flex chat-title justify-content-end container">
          <h4 class="mx-auto mb-0">Chat</h4>
          <button class="chat-close" type="button" aria-label="close">
            <i class="fas fa-times"></i>
          </button>
        </div>

        <div class="container massage">
          <div class="row chat">
            <div class="col-2 avatar">
              <img src="../assets/img/icon/admint_profil.png" alt="avatar">
            </div>
            <div class="col-10">
              <h5 class="chat-name">Admint</h5>
              <p class="chat-dialog">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua</p>
              <div class="d-flex chat-likes">
                <button class="chat-like-btn" type="button">
                  <i class="fas fa-thumbs-up fa-2x"></i>
                </button>
                <p class="chat-like-desk my-auto">15</p>
              </div>
            </div>
          </div>

          <div class="row chat chat-anda">
            <div class="col-10">
              <h5 class="chat-name">Anda</h5>
              <p class="chat-dialog">ullamcorper a lacus vestibulum sed arcu ?</p>
              <div class="d-flex chat-likes justify-content-end">
                <button class="chat-like-btn" type="button">
                  <i class="fas fa-thumbs-up fa-2x"></i>
                </button>
                <p class="chat-like-desk my-auto">2</p>
              </div>
            </div>
            <div class="col-2 avatar">
              <img src="../assets/img/icon/anda_profil.png" alt="avatar" class="avatar-right">
            </div>
          </div>

          <div class="row chat">
            <div class="col-2 avatar">
              <img src="../assets/img/icon/indah_profil.png" alt="avatar">
            </div>
            <div class="col-10">
              <h5 class="chat-name">Indah</h5>
              <p class="chat-dialog">luctus accumsan tortor posuere ac ut consequat semper viverra nam libero justo
                ?</p>
              <div class="d-flex chat-likes">
                <button class="chat-like-btn" type="button">
                  <i class="fas fa-thumbs-up fa-2x"></i>
                </button>
                <p class="chat-like-desk my-auto">5</p>
              </div>
            </div>
          </div>
        </div>

        <div class="chat-input container ">
          <div class="row chat-send">
            <div class="col-11 chat-send-main">
              <textarea rows="1" id="comment" class="form-control" placeholder="Ketik pesan disini"></textarea>
            </div>
            <div class="col-1 chat-send-main-btn my-auto">
              <button class="chat-send-btn" type="button">
                <i class="fas fa-paper-plane fa-2x"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End-Chat -->
    </div>

    <!-- Modal -->
    <div class="modal fade" id="qrcode" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Scan QR Code untuk infaq</h5>
            <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">
              <i class="fas fa-times"></i>
            </button>
          </div>
          <div class="modal-body text-center">
            <img src="../assets/img/icon/qr_code.png" alt="">

          </div>
          <div class="modal-footer justify-content-between">
            <h6 class="modal-url">https://kitabisa.com/Qiraa-infaq</h6>
            <button type="button" class="modal-url-btn">
              <i class="fas fa-external-link-alt fa-2x"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Modal -->
  </main>


  <!-- bootstrap js -->
  <script src="../bootstrap/js/bootstrap.min.js"></script>
</body>

</html>