* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

:root {
	--green: #096c47;
	--btn-green: #4aab7b;
	--dark-green: #0f4137;
	--light-green: #ddffbc;
	--black-word: #000839;
	--blue-link: #005082;
}

a {
	text-decoration: none;
}

/* Navbar */
.logo {
	margin: 0;
	font-size: 2.3em;
	font-weight: 700;
	background: -webkit-linear-gradient(#096c47 0%, #a3de83);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.nav-link {
	color: #000000 !important;
	padding: 0 !important;
}

ul a:hover {
	color: var(--green) !important;
}

li > a:after {
	content: '';
	display: block;
	height: 2px;
	background: var(--green);
	transform: scaleX(0);
	transition: transform 0.3s;
}

li > a:hover:after {
	transform: scaleX(1);
	transition: transform 0.3s;
}

.active-nav {
	color: var(--green) !important;
	border-bottom: 3px solid var(--green);
}

li > .active-nav:after {
	display: none;
}

.btn-success {
	padding: 6px 30px !important;
}

.green-btn:hover,
.green-btn {
	color: white !important;
}
.green-btn:after {
	transform: none !important;
}
.green-btn:hover:after {
	transform: none !important;
}
/* End Navbar */
