/* Caousel */
.carousel-caption {
	transform: translateY(-50%);
	bottom: initial;
	top: 50%;
}
.title-carousel {
	font-weight: 700;
	font-size: 3.5em;
	margin-bottom: 3%;
}
.live {
	background: #e6485d;
	border-radius: 8px;
	font-size: 0.8em !important;
	padding: 7px 12px;
}
.desc-carousel {
	font-size: 1.5em;
	font-weight: 300;
}
.btn-warning {
	border-radius: 50px;
	padding: 7px 15px;
	color: #eac100;
	border-color: #eac100;
	margin: 10px 0;
	color: #fff;
}

.btn-warning:hover {
	color: var(--black-word);
	background: #e4ac06;
	border-color: #e4ac06;
}
/* End Carousel */

/* Kajian */
.kajian {
	margin-top: 60px;
}
.title-next-kajian {
	font-weight: 700;
	font-size: 2em;
	text-align: center;
}
.green {
	color: #239d60;
}
.title-line {
	width: 8rem;
	border: 2px solid #239d60;
	opacity: 0.8;
	margin: auto;
}
/* End Next Kajian */
