/* Jumbotron */
.carousel-caption {
	transform: translateY(-50%);
	bottom: initial;
	top: 40%;
}
.carousel-active {
	color: none !important;
}
.display-1 {
	font-weight: 700;
	font-size: 5em;

	color: #ffffff !important;
}

.btn-outline-secondary:hover {
	background-color: #239d60;
	color: #ffffff;
}

.display-2 {
	font-weight: 500;
	font-size: 1.7em;
}
.display-3 {
	font-weight: 300;
	font-size: 1em;
}
.deskripsi {
	padding: 0;
	padding-top: 60px;
}
.card {
	border: 2px solid #e1e1e1;
}
button {
	text-align: left;
	border: none;
	background-color: #ffffff;
}
