/* Login */
.card {
	margin-top: 2%;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}
.mid {
	padding: 2rem 5rem;
}
.title-login {
	font-weight: 500;
	color: var(--green);
}
.content {
	width: 100%;
	position: relative;
}
.form-label {
	color: var(--black-word);
	font-weight: 400;
}
.form-control {
	width: 100%;
	padding: 0px !important;
	border: 0 !important;
	border-bottom: 1px solid #ccc !important;
}
.form-control ~ .focus-border {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--btn-green);
	transition: 0.4s;
}
.form-control:focus {
	box-shadow: none;
}
.form-control:focus ~ .focus-border {
	width: 100%;
	transition: 0.4s;
}
::placeholder {
	color: #ccc !important;
	font-weight: 300;
}
.btn-class {
	padding: 10px;
	border-color: var(--btn-green);
	color: var(--btn-green);
	width: 100%;
}
.btn-class:hover {
	background: var(--btn-green);
	color: white;
}
.ask-account {
	margin-top: 6px;
	font-weight: 300;
}

.zoom {
	transition: transform 0.3s;
}
.zoom:hover {
	transform: scale(1.2);
}
/* End Login */

@media only screen and (max-width: 720px) {
	/* Main */
	.img-login {
		width: 100%;
	}
	.mid {
		padding: 2rem;
	}
}
