* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

:root {
	--green: #096c47;
	--btn-green: #4aab7b;
	--dark-green: #0f4137;
	--light-green: #ddffbc;
	--black-word: #000839;
	--blue-link: #005082;
}

/* Navbar */

.logo {
	margin: 0;
	font-size: 2.3em;
	font-weight: 700;
	background: -webkit-linear-gradient(#096c47 0%, #a3de83);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.nav-link {
	color: #000000 !important;
	padding: 0 !important;
}

ul a:hover {
	color: var(--green) !important;
}

li > a:after {
	content: '';
	display: block;
	height: 2px;
	background: var(--green);
	transform: scaleX(0);
	transition: transform 0.3s;
}

li > a:hover:after {
	transform: scaleX(1);
	transition: transform 0.3s;
}

.active {
	color: var(--green) !important;
	border-bottom: 3px solid var(--green);
}

li > .active:after {
	display: none;
}

.btn-success {
	padding: 6px 30px !important;
}

.green-btn:hover,
.green-btn {
	color: white !important;
	text-decoration: none;
}

/* profile */
.card {
	border: 2px solid #e1e1e1;
    border-radius: 12px;
    
}
.card-sampul{
    background: url(/assets/img/baground-profile.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.settings{
    width: 28px;
    height: 28px;
    
}


/* pengajian */
.deskripsi{
    text-align: start;
    margin-top: 45px;
    margin-left: 3em;
}
.img-pengajian{
    padding-right: 9em;
}
.display-2{
    font-size: 1.8em;
    font-weight: 500;
}
.display-3{
    font-size: 1.2em;
    font-weight: 300;
}
button{
    border: none;
}