/* Main */
.bar {
	width: 50%;
	height: 40px;
	text-align: center;
	background: #f6f6f6;
}
.btn-bar {
	width: 100%;
	height: 100%;
	background: none !important;
	font-weight: 400;
}
.bar .active {
	color: var(--btn-green) !important;
	border-bottom: 3px solid var(--btn-green) !important;
	font-weight: 500;
	transition: 0.3s;
}
.quran-title {
	font-size: 3em;
	font-weight: 700;
	background: -webkit-linear-gradient(#096c47 0%, #a3de83);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.pointer {
	cursor: pointer;
}
.quran-desc {
	font-size: 1.2em;
}
.card {
	border: 2px solid #e1e1e1;
	padding: 15px;
}
button {
	text-align: left;
	border: none;
	background-color: #ffffff;
}
.scrollspy-example {
	overflow-y: scroll;
	max-height: 80vh;
}

/* End Main */
@media only screen and (max-width: 1024px) {
	.scrollspy-example {
		overflow-y: scroll;
		max-height: 60vh;
	}
}
@media only screen and (max-width: 768px) {
	.card .row h3 {
		font-size: 1rem;
		margin: 0;
	}
	.card .row p {
		font-size: 0.7rem;
		margin: 0;
	}
	.card .row .m-auto {
		padding: 0 !important;
	}
}
