/* card info regist */
.card {
	border: 2px solid #e1e1e1;
	border-radius: 15px;
}
.gratis-btn{
	height: 31px;
	width: 93px;
	border: 3px solid #929292;
	color:#929292 ;
	
}
.title{
    color: #096C47;
    padding-top: 15px;
}

.title-desk {
	font-size: 2em;
	font-weight: 300;
	padding-top: 15px;
	color: #0f4137;
}
.desk {
	font-size: 1.6em;
	font-weight: 200;
}
.ustad .desk {
	padding-top: 15px;
}

/* deskripsi */
hr {
	width: 60%;
	border: 2px solid #239d60 !important;
	margin: auto;
	opacity: 1;
	margin-bottom: 15px;
}
p {
	font-size: 1.4em;
}
.share-icon{
	border-radius: 50%;
	height: 42px;
	width: 42px;
	margin-right: 15px;
	font-size: 0.7rem;
}
/* daftar */
.daftar {
	background-color: #239d60;
	color: white;
	padding-top: 17px;
	margin-top: 40px;
}
.btn-desk {
	background-color: #ffffff;
	color: #239d60;
	border-radius: 50px;
	width: 170px;
	font-size: 1em;
	font-weight: 500;
}
.btn-desk:hover {
	background-color: #d3d3d3;
	color: #239d60;
}
