/* card info regist */
.card {
	border: 2px solid #e1e1e1;
	border-radius: 15px;
}
.gratis-btn {
	height: 31px;
	width: 93px;
	border: 2px solid #c4c4c4;
	color: #6d6d6d;
}
.title {
	color: #096c47;
	font-size: 2rem;
}
.title-desk {
	font-size: 1.5rem;
}
.share-text,
.deskripsi-title {
	font-size: 1.5rem;
	font-weight: 500;
	padding-top: 15px;
	color: #0f4137;
}
.desk {
	font-size: 1.6em;
	font-weight: 400;
	margin: 0;
}

/* deskripsi */
hr {
	width: 45%;
	border: 2px solid #239d60 !important;
	margin: auto;
	opacity: 1;
	margin-bottom: 15px;
}
p {
	font-size: 1.4em;
}

.share-icon {
	border-radius: 50%;
	border: 1px solid #239d60;
	height: 42px;
	width: 42px;
	margin: 0 15px;
	font-size: 0.7rem;
	color: #239d60;
	background: #fff;
	transition: transform 0.3s;
}
.share-icon:hover {
	transform: scale(1.1);
}
/* daftar */
.daftar {
	background-color: #239d60;
	color: white;
}
.btn-desk {
	background-color: #ffffff;
	color: #239d60;
	border-radius: 25px;
	padding: 0 3em;
	font-size: 1.3em;
	font-weight: 500;
}
.btn-desk:hover {
	background-color: #d3d3d3;
	color: #239d60;
}
@media only screen and (max-width: 1024px) {
	.my-auto{
		margin-left: 20px;
	}
}

@media only screen and (max-width: 768px) {
	.share-text,
	.deskripsi-title,
	.title {
		font-size: 1.5rem;
	}
	.title-desk,
	.daftar-desk {
		font-size: 1.1rem;
	}
	.deskripsi p,
	.desk {
		font-size: 1rem;
	}
	.btn-desk {
		padding: 0 5%;
		font-size: 0.8rem;
	}
	.daftar img {
		width: 30px;
	}
	.my-auto{
		margin-left: 0px;
	}
}
@media only screen and (max-width: 450px) {
	.share-text,
	.deskripsi-title,
	.title {
		font-size: 1rem;
	}
	.title-desk,
	.deskripsi p,
	.daftar-desk {
		font-size: 0.8rem;
	}

	.btn-desk,
	.desk {
		font-size: 0.6rem;
	}
	.col-3,
	.col {
		padding-right: 0;
	}
	.daftar img {
		width: 28px;
	}
	.ustd-img{
		width: 5rem;
	}
	.my-auto{
		margin-left: 0px;
	}
}
