/* Login */
.card {
	margin-top: 2%;
	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.mid {
	padding: 2rem 5rem;
}

.title-login {
	font-weight: 500;
	color: var(--green);
}

.form-label {
	color: var(--black-word);
	font-weight: 300;
}

.form-control {
	display: block;
	width: 100%;
	line-height: 1.5;
	border-color: var(--btn-green) !important;
	border-style: solid !important;
	border-width: 0 0 1px 0 !important;
	padding: 0px !important;
	height: auto;
	border-radius: 0;
	background-color: #fff;
	background-clip: padding-box;
}

.form-control:focus {
	color: var(--btn-green);
	background: #fff;
	border-color: #fff;
	outline: 0;
	box-shadow: none;
}

.checkbox {
	font-size: 0.85em;
	font-weight: 300;
	color: var(--black-word);
}

.btn-class {
	padding: 10px;
	border-color: var(--btn-green);
	color: var(--btn-green);
	width: 100%;
}

.btn-class:hover {
	background: var(--btn-green);
	color: white;
}

.ask-account {
	margin-top: 6px;
	font-weight: 300;
}
/* End Login */

@media only screen and (max-width: 720px) {
	/* Main */
	.img-login {
		width: 100%;
	}
}
