/* modal */
.modal-dialog {
	width: 300px;
	margin: auto;
}
.modal-content {
	border-radius: 10px;
}
.modal-close {
	background: none;
	border: none;
	font-size: 1.4rem;
}
.modal-title {
	font-weight: 800;
	font-size: 1rem;
}
.modal-footer {
	background: #e1e1e1;
	margin: 8px;
	padding: 3px;
	border-radius: 5px;
}
.modal-url {
	font-size: 0.7rem;
	font-weight: 500;
}
.modal-url-btn {
	background: none;
	border: none;
	font-size: 0.5rem;
}

/* Stream */

.icon {
	padding: 16px;
	background-color: black;
}
.icon-meet {
	border-radius: 50%;
	height: 64px;
	width: 64px;
	margin-left: 3px;
	margin-right: 3px;
	font-size: 0.8rem;
	border: none;
	background-color: #f6f6f6;
}
.infaq-icon {
	color: #239d60;
	font-weight: 600;
	font-size: 1rem;
}
.chat-icon {
	color: #239d60;
}
.exit {
	background-color: #e90707 !important;
	color: white;
}

/* chat */
.chat-display {
	background: #f2f2f2;
	padding: 0px;
	overflow: hidden;
}
.chat-title {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fff;
}
.chat-close {
	background: none;
	border: none;
	font-size: 1.4rem;
	text-align: end;
}

.massage {
	background-size: cover;
	border: 1px solid #f7f7f7;
	height: calc(100% - 115px);
}
.chat {
	border: 2px solid #dedede;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
	margin: 10px 0;
}
.chat::after {
	content: '';
	clear: both;
	display: table;
}
.chat-anda {
	border-color: #ccc;
	background-color: #fff;
}

.chat img {
	float: left;
	justify-content: center;
	max-width: 60px;
	width: 100%;
	margin-right: 5px;
	border-radius: 50%;
}
.avatar {
	padding: 0px;
}
.chat-anda {
	text-align: right;
}

.chat img.avatar-right {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
.chat-dialog {
	margin-bottom: 2px;
}
.chat-likes {
	margin-top: 6px;
}
.chat-like-btn {
	float: left;
	border: none;
	background: none;
	font-size: 0.5rem;
}
.chat-like-desk {
	margin-left: 8px;
	padding: 0px;
}

.chat-input {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fff;
}
.chat-send {
	background: #e1e1e1;
	border-radius: 22px;
	/* height: 40px; */
	width: 100%;

	padding: 0px !important;
	margin: 0 !important;
	/* z-index: 1000; */
}
.chat-send-main {
	padding: 2px 5px !important;
}
.chat-send-main textarea {
	width: 100%;
	resize: none;
	overflow: hidden;
	padding: 5px !important;
	outline: none;
	border: none;
	text-indent: 5px;
	box-shadow: none;
	height: 100%;
	font-size: 16px;
}
.chat-send-main textarea:focus {
	outline: none;
	border: none;
	text-indent: 5px;
	box-shadow: none;
	background: none;
}

.form-control {
	background: none;
	border: none;
}
.chat-send-main-btn {
	padding: 0px;
}
.chat-send-btn {
	border: none;
	background: none;
	font-size: 0.5rem;
	color: #239d60;
}
